/* =========== Start of Variables =========== */

$yellow: #fcb72b;
$dark: #333A44;
$darknavy: #495567;
$dimgrey: #939caa;
$lightgrey: #e5ecf4;
$snow: #f2f5f9;
$lightyellow: #fff4df;
$white: #ffffff;

$spacemono: "Space Mono", sans-serif;
$lexenddeca: "Lexend Deca", monospace;

/* =========== End of Variables =========== */
